@charset "utf-8";

th {
  border-bottom: 1px solid black;
  height: 20px;
}
tr {
  border-bottom: 1px solid lightgray;
}
tr:last-child {
 border-bottom: none;
}
td {
	text-align:center;
	border-right: 1px solid lightgray;
}
td:last-child {
 border-right:none;
}
table {
  border: 1px solid black;
  border-bottom: 1px solid black;
  width:100%;
  overflow:auto;
}

table {
  border-collapse: collapse;
}

div.bottom {
	padding-bottom: 15px;
}