@charset "utf-8";

th {
  border-bottom: 1px solid black;
  height: 20px;
}
tr {
  border-bottom: 1px solid lightgray;
}
tr:last-child {
 border-bottom: none;
 broder-right:none;
}
td {
	text-align:center;
}
table {
  border: 1px solid black;
  border-bottom: 1px solid black;
  width:100%
}

table {
  border-collapse: collapse;
}

div.bottom {
	padding-bottom: 15px;
}

.content {
	
}